---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.webp";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";
const episodes = await getCollection("episodes");
const last = episodes
  .sort((e) => e.data.id)
  .reverse()
  .at(0);
---

<script>
import { formatDistanceToNow } from "date-fns";
import { it } from "date-fns/locale";

  class DynamicDate extends HTMLElement {
    connectedCallback() {
      const published= this.dataset.published;     if(published)
      {
      const formattedDate = formatDistanceToNow(new Date(published), {
              locale: it,
            })
        this.innerHTML = formattedDate;
      }
    }
  }

  customElements.define('dynamic-date', DynamicDate);
</script>

<Layout>
  <div>
    <section class="flex flex-col justify-center space-y-4">
      <p>
        Il podcast indipendente che ti racconta quello che fa muovere Trieste e
        i suoi dintorni.
      </p>
      <p>
        Vi facciamo sentire le voci di chi, da dietro le quinte, si prende cura
        della città di Trieste e del suo territorio. Storie di persone,
        associazioni e organizzazioni che contribuiscono ogni giorno al
        funzionamento e alla crescita della comunità.
      </p>
      {
        last && (
          <p>
        Per dire, solamente <dynamic-date data-published={last.data.published}></dynamic-date> 
            fa abbiamo pubblicato il nostro episodio numero {last.data.id}
<Link href=`/episodes/${last.id}`>{last.data.title}</Link>.
          </p>
        )
      }

      <p>
        Ascoltaci su <Link
          href="https://open.spotify.com/show/21XphXWp2fuYShhpgzs6pN"
        >
          Spotify</Link
        >
        e sulle principali piattaforme di podcast o direttamente su
        <Link href="/episodes"> questo sito</Link>.
      </p>
      <Image src={logo} alt="Oggi fa bora" class="mt-4 w-auto rounded-lg" />
    </section>
  </div></Layout
>
