---
import type { Episode } from "../content.config";
interface Props {
  episode: Episode;
}
const { episode } = Astro.props;
---

<article class="flex flex-col gap-4">
  <header>
    <h3 class="text-base text-white bg-astronaut-900">{episode.title}</h3>
  </header>
  <details open class="border-trieste-red-500 border-2 p-2">
    <summary>Dettagli dell'episodio</summary>
    <p>
      ospite:
      {episode.guest}
    </p>
    <p>
      episodio #{episode.id}
    </p>
  </details>
  <p>{episode.description}</p>
  <current-episode data-title={episode.title} data-src={episode.url}>
    <div id="player"></div>
  </current-episode>
</article>

<script>
  import "shikwasa/dist/style.css";

  import { Player } from "shikwasa";

  class CurrentEpisode extends HTMLElement {
    connectedCallback() {
      const player = new Player({
        container: () => document.querySelector("#player"),
        audio: {
          title: this.dataset.title,
          artist: "Oggi fa bora",
          cover: "/logo.png",
          src: this.dataset.src,
        },
        themeColor: "#D62828",
      });
    }
  }
  customElements.define("current-episode", CurrentEpisode);
</script>
