---
import type { Episode } from "../content.config";
interface Props {
  episode: Episode;
}
const { episode } = Astro.props;
---

<article class="flex flex-col gap-4">
  <header>
    <h3>
      <span class="m-2">{episode.id}.</span>{episode.title}
    </h3>
    <p class="text-sm">
      pubblicato il
      <span>
        {
          new Date(episode.published).toLocaleDateString("it-IT", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </span>
    </p>
  </header>

  <p>{episode.description}</p>
  <current-episode
    data-title={episode.title}
    data-src={episode.url}
    data-cover={episode.image}
  >
    <div id="player"></div>
  </current-episode>
</article>

<script>
  import "shikwasa/dist/style.css";

  import { Player } from "shikwasa";

  class CurrentEpisode extends HTMLElement {
    connectedCallback() {
      const player = new Player({
        container: () => document.querySelector("#player"),
        audio: {
          title: this.dataset.title,
          artist: "Oggi fa bora",
          cover: `${this.dataset.cover ?? "/logo.webp"}`,
          src: this.dataset.src,
        },
        themeColor: "#D62828",
      });
    }
  }
  customElements.define("current-episode", CurrentEpisode);
</script>
