---
import Header from "./Header.astro";
import "../styles/global.css";
import Footer from "./Footer.astro";
import { siteInfo } from "../data/site-info";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteInfo.title}</title>
    <meta name="description" content={siteInfo.description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content={siteInfo.title} />
    <meta property="og:description" content={siteInfo.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteInfo.url} />
    <meta property="og:image" content="/logo.webp" />
  </head>

  <body
    class="mx-auto min-h-screen flex flex-col pt-5 text-l px-4 font-mono xl:px-0 xl:text-xl max-w-lg"
  >
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
